.about {
    text-align: center;
    background: #f4f4f4;
    height: 100vh;
    padding-top: 120px;
  }
  
  .about h2 {
    font-size: 2rem;
  }
  
  .about p {
    font-size: 1.2rem;
    padding: 20px 50px 120px 50px;
    
  }
  